body {
    background-image: url(/kepek/e-commerce-plage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: larger;
    font-weight: bolder;
    
}

.piktogram {
    max-width: 2.7rem;
}

ul {
    list-style-type: none;
}

.feja {
    text-decoration: none;
    margin: auto;
}

.biglogo {
    width: 100px;
    
    margin:10px;
}
header {
    background-color: rgb(255, 255, 255);
    width: 100%;
  
    padding: 1rem;
    margin: auto;
    margin-bottom: 20px;


}
nav{

    background-color: rgb(255, 255, 255);
    width: 15%;
    border-radius: 8px;
    padding: 1rem;
    margin: auto;
    position: sticky;
    top: 10px;
    z-index: 9999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    padding-bottom: 0.7rem;
    margin-left: 1rem;
}
.vegig {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.idezet {
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Lucida Handwriting', cursive;
}

.hetter {
    background-color: rgb(255, 255, 255);
    width: 99%;
    border-radius: 10px;
    padding: 1rem;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.headline {
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

table.tr, th.tr, td.tr {
    border: 1px solid black;
}
table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

th, td {
    padding: 8px;
    text-align: center;
}

footer {
  margin-top: auto;
  background-color: rosybrown;
  max-height: 100px;
  float: left;
  width: 100%;
  padding: 1rem;
  margin-top: 20px;
}
.elvalaszto{
    border-top: 5px solid #000000;
}

.sorba{
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
  }
  
  .tablazatoszlopba {
    flex: 50%;
    padding: 5px;
  }
main {
    max-width: 83%;
    margin-left: auto;
}

table.tr tr:nth-child(even) {
    background-color: #8ac6ff;}

.s{
    color: gray;
    font-style: italic;
    font-size: small;
}
.szovkep{
    float: right;
    max-height: 300px;
    border-radius: 10px;
    border: 3px solid black;
}
.szovkepb{
    float: left;
    max-height: 300px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 10px;
}
.tort{
    font-size: xx-large;
}
.bal{
    float: right;
   
}
.kkep{
    max-height: 500px;
    border-radius: 10px;
    border: 3px solid black;
    margin: 10px;
}
.szkop{
    text-align: center;
}
.null{
    background-color: transparent !important;	
    border: none !important;
    
}
.null:nth-child(even) {
    background-color: transparent !important;
    border: none !important;

}