html {
    height: 100%;
}

body {
    background-image: url(/kepek/e-commerce-plage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: larger;
    font-weight: bolder;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.piktogram {
    max-width: 2.7rem;
}

ul {
    list-style-type: none;
}

.feja {
    text-decoration: none;
    margin: auto;
}

.biglogo {
    width: 100px;

    margin: 10px;
}

header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom-right-radius: 8px;
    padding: 1rem;
    margin-bottom: 0;
    border-bottom-left-radius: 8px;

}

.header-nav-wrapper {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    flex-shrink: 0;
}

nav {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.7rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

.vegig {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.idezet {
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Lucida Handwriting', cursive;
}

.hetter {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.headline {
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

table.tr,
th.tr,
td.tr {
    border: 1px solid black;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    padding: 8px;
    text-align: center;
}

footer {
    background-color: rgb(91, 91, 91);
    max-height: 100px;
    width: 100vw;
    padding: 1rem;
    margin-top: auto;
    margin-left: calc(-50vw + 50%);
}

.elvalaszto {
    border-top: 5px solid #000000;
}

.sorba {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.tablazatoszlopba {
    flex: 70%;
    padding: 5px;
}

table.balra {
    width: 100%;
}

main,
header {
    max-width: 100%;
    margin: 0 auto;
}

main {
    flex: 1;
}

table.tr tr:nth-child(even) {
    background-color: #8ac6ff;
}

.s {
    color: gray;
    font-style: italic;
    font-size: small;
}

.szovkep {
    float: right;
    max-height: 300px;
    border-radius: 10px;
    border: 3px solid black;
    margin: 10px;
}

.szovkepb {
    float: left;
    max-height: 300px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

.tort {
    font-size: xx-large;
}

.bal {
    float: none !important;
}

.kkep {
    max-height: 500px;
    border-radius: 10px;
    border: 3px solid black;
    margin: 10px;
}

.szkop {
    text-align: center;
}

.null {
    background-color: transparent !important;
    border: none !important;

}

.null:nth-child(even) {
    background-color: transparent !important;
    border: none !important;

}

li {
    font-size: larger;
}

.k {
    text-align: center;
    font-weight: bold;
    color: red;
    text-shadow: 3px 3px 7px white;
}

.f {
    font-weight: bolder;
    color: red;
}

.v {
    text-decoration-line: underline;
}

.bg {
    background-image: url(/kepek/emoji-de-echo-removebg-preview.png);
    text-shadow: 3px 3px 7px white;

}

td,
th,
table,
img {
    border: none;
}

.medkep {
    width: 30rem;
    border-radius: 10px;
    border: 3px solid black;
    float: left;
}

.vel {
    display: inline-block;
    margin: 5px;
    font-size: xx-large;
    font-weight: bolder;
    clear: both;
}

textarea {
    resize: none;
}

.hetterv {
    background-color: rgb(255, 255, 255);
    width: 60%;
    border-radius: 10px;
    padding: 1rem;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    margin-right: 20px;
}

.hettervv {
    background-color: rgb(255, 255, 255);
    width: 60%;
    border-radius: 10px;
    padding: 1rem;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    margin-right: 20px;
}

.oriasi {
    font-size: 250%;
    font-weight: bolder;
    margin: 10px;
}

.jobb {
    float: right;
    width: 60%;
}

th {
    font-size: 200%;
}

.ar {
    font-size: 500%;
}

.hetter {
    padding: 25px 30px;
}

.hetter h1 {
    margin-bottom: 20px;
}

.text-danger {
    margin-bottom: 25px;
}

label {
    margin-top: 12px;
    margin-bottom: 5px;
}

input[type="date"],
input[type="number"] {
    margin-bottom: 8px;
}

.btn {
    margin-top: 15px;
}

.ar {
    margin-top: 20px;
}

.jelzes {
    text-align: center;
    border-radius: 2rem;
}